@import "../../variables";
.task {
    font-size: $font-size-components/1.75;
    height: 4vh;
    width: 100%;
    margin: 10% 0;
    background: $bar-colour;
    border-radius: 50px;
    padding-left:5%;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:focus {
        outline: none;
    }
    .buttonContainer {
        height: 100%;
        width:25%;
        color: $bar-colour;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    .taskComplete {
        background-color: $colour-2;
        height: 4vh;
        width:4vh;
        color: $tick-colour;
        border: none;
        border-radius: 50%;
        outline: none;
    }

    .taskDelete {
        background-color: $colour-2;
        height: 4vh;
        width: 4vh;
        color: $tick-colour;
        border: none;
        border-radius: 50%;
        outline: none;
    }
}
}