@import "../../variables";


.task {
    font-size: $font-size-components/1.75;
    height: 4.5vh;
    width: 100%;
    margin: 10% 0;
    background: $bar-colour;
    border-radius: 50px;
    padding-left:5%;
    color: white;
    // font-size: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:focus {
        outline: none;
    }
    .buttonContainer {
        height: 100%;
        width:25%;
        color: $bar-colour;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    .taskNotComplete {
        opacity: 70%;
        background-color: $colour-2;
        height: 4.5vh;
        width:4.5vh;
        color: $tick-colour;
        border: none;
        border-radius: 50%;
        outline: none;
        

         .checkIcon {
            width: 50%;
            height: 50%;
            pointer-events: none;
        }

    }

    .taskDelete {
        background-color: $colour-2;
        height: 4.5vh;
        width: 4.5vh;
        color: $tick-colour;
        border: none;
        border-radius: 50%;
        outline: none;
    }
}
}