@import "../../variables.scss";

button {
  border: none;
  color: $white;
  height: 4vh;
  width: 80px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  background-color: $colour-1;
  margin-top: 10px;
}

.graphContainer {
  background-color: #031E53;
  text-align: center;
  margin: 70px auto;
  position: relative;
  border-radius: 50%;

  .dot {
    color: red;
  }
}

@media screen and (min-width: 320px) {
  .graphContainer {
  
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 500px) {
  .graphContainer {
    width: 500px;
    height: 500px;
  }
}




