.shape {
  fill-opacity: 0.4;
}

.scale {
  fill: rgb(0, 26, 77);
  stroke: #555;
  stroke-width: 0.4;
}

.axis {
  stroke: #444;
  stroke-width: 0.3;
}

.dot {
  fill: #00ffcc;
  stroke: #e7e8e7;
  r: 2;
  -webkit-transition: r 0.6s;
  -o-transition: r 0.6s;
  transition: r 0.6s;
}

.dot:hover {
  stroke: #bbb;
  r: 6;
}

.caption {
  fill: #444;
  font-weight: 400;
  text-shadow: 1px 1px 0 #fff;
}
