@import '../../variables.scss';

.button {
    border: none;
    color: white;
    height: 7.5vh;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
}

.primary{
    background-color: $darker-blue;
}

.secondary{
    background-color: $yellow;
}