@import "../../variables.scss";

.subheading {
  color: $white;
  font-weight: 400;
  

  border-bottom: 2px solid $colour-1;
  width: 95%;
  text-align: right;
  padding: $base-padding;
  margin: $base-margin * 3 auto;
}

@media only screen and (max-width: 600px) {
  main {
    margin-bottom: 500px;
  }
}
