@import "../../variables.scss";
.navBar {
    z-index: 2;
    background: $gradient;
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    margin: 5%;
    color: $colour-2;
    &:hover {
        cursor: pointer;
    }
}

.signOutButton {
    color: $colour-1;
}