@import "../../variables.scss";
.navBar {
    background: linear-gradient(to right, $color-blue-light 16%, $background-blue2 84%, rgba($color-primary-dark, 0.8) 98%);
    // min-height: calc(100vh - 75px);
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    
        .navList {
        list-style-type: none;
        color: $white;
        padding: 20px;
        font-size: 1.6rem;
        line-height: 3.2rem;
        text-align: center;
        cursor: pointer;
        
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
        // color: $white;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:active {
        text-decoration: none;
    }
    }
}



.signOutButton {
    color: $color-orange;
    // border-top: 2px solid  $color-grey-dark-3;
}
