@import '../../variables.scss';
.taskInput {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 90%;
    font-weight: 400;
    margin: 0 auto;
    background:$bar-colour;
    .input {
        position: relative;
        width: 100%;
        border-radius: 50px;
        height: 5vh;
        background: transparent;
        padding-left: 25px;
        color: $tick-colour;
        font-size: $font-size-components/1.5;
        border: none;
        display: flex;
        align-self: space-between;
        justify-content: center;
        &::placeholder {
            color: white;
            font-size: $font-size-components/2;
        }
        &:focus {
            outline: none;
        }
    }
    .submitButton {
        height: 5vh;
        width: 5vh;
        background: $colour-2;
        border-radius: 50%;
        border: none;
        font-size: $font-size-components/1.6;
        text-align: center;
        color: white;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}