@import "../../variables.scss";

.logoContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: transparent;

  .textLogo {
    color: $text-colour-primary;
  }
  .newLogo {
    height: $height-logo-img * 3;
    width: $width-logo-img * 3;
    margin: auto $margin-logo-img;
  }
}
