@import "../../variables.scss";

.iconsDiv {
  background: transparent;
  position: absolute;
  top: -3%;
  left: 0;
  margin: auto;
  z-index: 1;
}

.tooltip {
  color: $colour-2;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;
    $angle: (360 / $item-count);
    $rot: -89;
    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }
      $rot: $rot + $angle;
    }
  }
}
.circleContainer {
  @include on-circle($item-count: 15, $circle-size: 28em, $item-size: 4em);
  .faStyle {
    color: #b7c6db;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    &:hover {
      cursor: pointer;
      color: $colour-2;
    }
  }
}
@media screen and (min-width: 320px) {
  .circleContainer {
    @include on-circle($item-count: 15, $circle-size: 11em, $item-size: 5px);
  }
  .iconsDiv {
    margin: auto;
  }
}
@media screen and (min-width: 500px) {
  .circleContainer {
    @include on-circle($item-count: 15, $circle-size: 15em, $item-size: 4em);
  }
  .iconsDiv {
    top: 31%;
    left: 31%;
    margin: auto;
    .faStyle {
      width: 1.2em;
      height: 1.2em;
      font-size: 30px;
    }
  }
}
