// input[type="range"] {
//     -webkit-appearance: none;
//    }
   
//    input[type="range"]:focus {
//     outline: none;
//    }

// input[type="range"]::-webkit-slider-runnable-track {
//     background: rgb(68, 68, 68);
//     height: 20px;
//     border-radius: 10px;
//    }



.title {
    text-align: left;
    color: #333;
    margin-left: 30px;
    margin-right: 55px;
    display: inline-block;
    font-size: 20px;
}

.score {
    font-size: 20px;
    color: #333;
}

.slider {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
    border: 2px solid #333;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    // width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    overflow: hidden;
  }

  input[type=range]::-webkit-slider-runnable-track {
      box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    background: #dadada;
    // border: #333 solid 2px;
    // background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
    // background: linear-gradient(90deg, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);


  }
   
   input[type="range"]::-moz-range-track {
    background: #dadada;
    height: 20px;
    border-radius: 10px;
    border: #333 solid 2px;
   }

//    input[type="range"]::-moz-range-progress {
//        color: red;
//        background-color: red;
//        height: 20px;
//     //    border-radius: 10px;
//    }

   input[type=range]::-webkit-slider-thumb {
    box-sizing: border-box;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    box-shadow: -160px 0 0 150px #e7f790;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    // box-shadow: -407px 0 0 400px #333; /* Add cool effects to your sliders! */
  }

// input[type=range]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: 4px solid #12A910;
//     height: 30px;
//     width: 14px;
//     border-radius: 100%;
//     background: #d82c2c;
//     color: red;
//     cursor: pointer;

//     &:before {
//         background-color: red;
//         color: red;
//         font-size: 200px;
//     }
// }

// input[type="range"]::-moz-range-thumb {
//     height: 20px;
//     width: 20px;
//     background: rgb(56, 56, 56);
//     margin-top: -10px;
//     border-radius: 50%;
// }
