@import "../../variables.scss";

.footer {
  min-width: 100vw;
  height: 10vh;
  background: $color-grey-light-1;
  opacity: 0.9;
  font-family: $default-font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: none;
  align-items: center;
  border-radius: 50%/25px 25px 0 0;
  // position: absolute;
  // bottom: 0;
  color: $white;
  margin-top: 50px;

  .submitButton {
    width: 4rem;
    height: 4rem;
    margin-top: -3.3rem;
    border: none;
    border-radius: 50%;
    background: $colour-1;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      outline: none;
      border: none;
    }
  }
}
