.footer {
    min-width: 100vw;
    height: 10vh;
    background: grey;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%/25px 25px 0 0;
    position: absolute;
    bottom: 0;

    .submitButton{
        width: 4rem;
        height: 4rem;
        margin-top: -20px;
        border: none;
        border-radius: 50%;
        background: green;
        text-align: center;
        display: inline-block;
        font-size: 2.5rem;

            &:hover, &:active {
            cursor: pointer;
            outline: none;  
            border: none;  
            }

    }
}