@import "../../variables";

.login {
  height: 100vh;
  width: 15vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $gradient;

  .logo {
    margin-bottom: 30px;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    text-decoration: none;
  }

  .link {
    text-decoration: none;
  }

  .TandC {
    font-size: 0.75rem;
    text-align: center;
    list-style: none;
    color: $text-colour-primary;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $white;
    }
  }
}
