@import "./variables.scss";

.signUp {
  color: blue;
}

.body {
  background-image: linear-gradient(
    to top,
    #001544,
    #032056,
    #052b69,
    #05377d,
    #014491
  );
  min-height: 100vh;
}
