@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$default-font-family: Roboto,
'Open Sans',
sans-serif;
$font-size-header: 2rem;
$font-size-components: 1.8rem;

$margin-logo-img: 5px;
$height-logo-img: 25px;
$width-logo-img: 25px;
// Colors

// Colours added by Josh from wireframes
$background-blue1:#117BA2;
$background-blue2: #0057BC;
$Darker-blue: #003399;
$Submit-green: #99CC66;
$grey:#999999;
$yellow: #FFCC33;

// Initial colours
$background-purple: #5d116d;
$color-blue-light: #1D85C2;
$color-blue-bright: #1DB7C2;
$color-fire: #C21D1D;
$color-primary: #4A0FD3;
$color-orange: #EB6121;
$color-red: #EB213C;
$color-neon: #21EB3C;
$color-bluesky: #21EBEB;
$color-violet: #D421EB;
$color-primary-light: #9585EE;
$color-primary-dark: #000D80;
$color-secondary-light: #E65A76;
$color-secondary-dark: #BB4F65;
$color-tertiary-light: #F309F3;
$color-tertiary-dark: #8F058F;
$color-grey-light-1: #C0BFBF;
$color-grey-light-2: #C5BABA;
$color-grey-dark: #665D5D;
$color-grey-dark-2: #796F6F;
$color-grey-dark-3: #4E4646;
$color-green-light: #1eca1e;
$color-green-medium: #095E4C;
$color-green-strong: #0F4440;
$color-yellow:#F1B22D;
$color-yellow-dark: #88610E;
$header-yellow-text: #F1B32C;
$button-inactive: #0C5B7F;
$navy-blue: #074783;
$hot-spot-color: #FF0000;
$white: #dad4d4; // Off-white
$black: #1D1B1B; // off-black
// Fonts
// Whilst html is set to 10px, default font size variable set at 1.6rem will mean that everything to this variable will be 16px
$default-font-size: 1.6rem;
// Buttons
$comp-button-width: 150px;
$comp-button-height: 50px;
$button-border-radius: 15px;
// Placeholder Selectors for use with @extend directive
%button {
    width: 100px;
    height: 50px;
    border-radius: $button-border-radius;
    &:focus {
        outline-style: none;
    }
}

%clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

