@import "../../variables.scss";

.progressBar {
  margin: $base-margin auto;
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba($colour-1, 0.5);
  opacity: 1;
}
