@import "../../variables.scss";

.message {
  width: 90%;
  min-height: 30px;
  height: fit-content;
  font-family: $default-font-family;
  font-size: 1rem;
  text-align: center;
  background-color: $background-blue;
  color: $white;
  padding: 10px;
  border-radius: 20px;
  display: none;

  & *:first-child {
    margin-bottom: 5px;
  }
  & *:nth-child(2) {
    margin-bottom: 5px;
    color: $white;
  }
}

.show {
  display: block;
}
